<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script th:src="@{assets/js/jquery.min.js}"></script>
<body>
    <p>Hello, check the image below!</p>
	<img th:src="@{images/tmp/} + ${name}"  />
	<br>
	<a href="#" onclick="helpMe();return false;">Help me guess</a>
	<br>
	<div id="resultId"></div>
</body>
<script type='text/javascript'>

function helpMe() {
	$("#resultId").text("Checking....");
	$.ajax({
		url: "findText?name=" + "[[${name}]]"
	}).done(function( data ) {
		if (data === "ERROR") {
			$("#resultId").text("Unable to detect text....");			
		} else {
			$("#resultId").text("Google Vision API detects: " + data);
		}
	});	
}

</script>
</html>